<span style="font-size: 40px; color:#800000;letter-spacing: 1px;"><center>WELCOME</center></span>


<div class="center centre">
  
 
  <%= link_to 'Signup', signup_path, class: "btn btn-primary btn-xlarge" %>
</div>
